
            <div class="col-md-6" data-pg-collapsed>
                <h2>Helpdesk / Support</h2>
                <p>For any inquiries, please contact us:&nbsp;</p>
                <p><b>WhatApps/SMS/Mobile: +62 8123037371</b></p>
                <ul class="contact-info">
                    <li>
                        <span class="fa fa-map-marker"></span>
                        AISINDO Secretariat, Jurusan Sistem Informasi, Institut Teknologi Sepuluh Nopember (ITS), Sukolilo, Surabaya, Indonesia 60111
                    </li>
                    <li>
                        <span class="fa fa-phone"></span>
                        +62 31 5999944 (Monday – Friday, 8 am – 4 pm)
                    </li>
                    <li>
                        <span class="fa fa-fax"></span>
                        +62 31 5964965
                    </li>
                    <li>
                        <span class="fa fa-envelope"></span>
                        <a href="mailto:service@aisindo.org">service@aisindo.org</a>
                    </li>
                </ul>
                <img class="img-responsive map-img" src="resources/images/helpdesk.jpg">
            </div>
