
        <div class="content-block blog-1" id="news">
            <div class="container text-center">
                <div class="underlined-title">
                    <h1>The Latest News & Posts</h1>
                    <hr>
                </div>
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="post">
                        <h2><a href="#">Malesuada Lorem Inceptos</a></h2>
                        <img class="img-responsive" src="http://placehold.it/1000x300">
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula
					ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="">
                            <a href="#" class="btn btn-lg btn-primary">Read More</a>
                            <p class="small text-muted text-uppercase">POSTED BY <a href="#">ADMIN</a> IN <a href="#">GENERAL</a> ON <a href="#">FEBRUARY 31, 2025</a></p>
                        </div>
                    </div>
                    <hr>
                    <div class="post">
                        <h2><a href="#">Malesuada Lorem Inceptos</a></h2>
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-responsive" src="http://placehold.it/1000x500">
                            </div>
                            <div class="col-sm-6">
                                <img class="img-responsive" src="http://placehold.it/1000x500">
                            </div>
                        </div>
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula
					ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-lg btn-primary">Read More</a>
                            <p class="small text-muted">POSTED BY <a href="#">ADMIN</a> IN <a href="#">GENERAL</a> ON <a href="#">FEBRUARY 31, 2025</a></p>
                        </div>
                    </div>
                    <hr>
                    <div class="post">
                        <h2><a href="#">Malesuada Lorem Inceptos</a></h2>
                        <img class="img-responsive" src="http://placehold.it/1000x300">
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula
					ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-lg btn-primary">Read More</a>
                            <p class="small text-muted">POSTED BY <a href="#">ADMIN</a> IN <a href="#">GENERAL</a> ON <a href="#">FEBRUARY 31, 2025</a></p>
                        </div>
                    </div>
                    <hr>
                    <nav>
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#" aria-label="Previous"><span class="fa fa-angle-double-left"></span></a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#" aria-label="Next"><span class="fa fa-angle-double-right"></span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /.col-sm-10 -->
            </div>
            <!-- /.container -->
        </div>
