<div class="content-block contact-3" id="register" data-pg-collapsed>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="contact" class="form-container" data-pg-collapsed >
                    <div class="underlined-title">
                        <h1>Sign Up</h1>
                        <hr>
                        <h2>First, Sign up.  Second, Activate your account.  Finally, login and complete the AISINDO Membership Registration</h2>
                    </div>
                    <fieldset>

                      <div class="alert alert-info" *ngIf="registered">
                        <h1>Form submitted!<br/>Check you email to activate your account!</h1>
                      </div>
                      <div *ngIf="errorMessage" class="alert alert-danger">
                        {{ errorMessage }}
                      </div>

                        <form *ngIf="!registered" [formGroup]="registrationForm" (ngSubmit)="onSubmit()" >
                            <div class="form-group">
                              <label for="name" class="required">Name</label>
                              <input type="text" id="name" class="form-control" placeholder="Name"
                                    formControlName="name" required >
                              <div *ngIf="formErrors.name" class="alert alert-danger">
                                {{ formErrors.name }}
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="email" class="required">Email</label>
                              <input type="text" id="email" class="form-control" placeholder="Email"
                                    formControlName="email" required >
                              <div *ngIf="formErrors.email" class="alert alert-danger">
                                {{ formErrors.email }}
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="password" class="required">Password</label>
                              <input type="password" id="password" class="form-control" placeholder="Password"
                                    formControlName="password" required validateEqual="confirmPassword" reverse="true" >
                              <div *ngIf="formErrors.password" class="alert alert-danger">
                                {{ formErrors.password }}
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="confirmPassword" class="required">Password Confirmation</label>
                              <input type="password" id="confirmPassword" class="form-control" placeholder="Retype Password"
                                    formControlName="confirmPassword" required validateEqual="password" reverse="false" >
                              <div *ngIf="formErrors.confirmPassword" class="alert alert-danger">
                                {{ formErrors.confirmPassword }}
                              </div>
                            </div>

                            <div class="form-group">
                                  <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid" [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}">Register</button>
                            </div>
                        </form>

                    </fieldset>
                </div>
                <!-- /.form-container -->
            </div>
            <helpdesk></helpdesk>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
