

/* Put your custom styles here */

.promo-1
{
    background-image: url('../images/aisindo-annual-meeting-2016.jpg');
     center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 40px 0;
}


